
*.tiff
*.tif
*.asv
Data/Subset2_Train_annotation/Train/Subset2_Train_1/Thumbs.db
Data/Subset3_Train_annotation.zip
Data/Subset2_Train_annotation.zip
*.png
Data/Subset*.mat
DataR/Subset*.mat
DataTestR/Subset1_Test_10_R.mat
DataTestR/Subset1_Test_11_R.mat
DataTestR/Subset1_Test_12_R.mat
DataTestR/Subset1_Test_13_R.mat
DataTestR/Subset1_Test_1_R.mat
